body {
    margin:0;
    padding:0;

    /* background-image: url("covid_background.jpeg");*/
   background-color: #1e1e2f;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 50px;
}
